:root {
  --background-color-1: #fff;
  --background-color-2: #DFE5E7;
  --background-color-3: #EDF3F6;

  --button-color-normal: #6939f4;
  --button-color-highlight: #f4b239;
  --button-color-danger: #c02d76;

  --border-color-1: #EDF3F6;
  
}